<!DOCTYPE html>   
 <html lang="en" dir="ltr">   
    <head>   
        <meta charset="utf-8">   
        <title></title>   
          </head>   
            <body>   
                <h1>Your Shopping Cart Information:</h1>   
                     {%if request.session %}   
                         <table border=2>   
                              <thead>   
                                     <th>Item Name</th>   
                                              <th>Quantity</th>  
                                                     </thead> 
                                                            {% for key,value in request.session.items %}  
                                                                   <tr>   
                                                                            <td>{{key}}</td>   
                                                                          <td>{{value}}</td>  
                                                                               </tr>   
                                                                                     {% endfor %} 
                                                                                            </table>  
                                                                                                  {%else%} 
                                                                                                       <p>No Items in your shopping cart</p>  
                                                                                                           {%endif%}   